body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: 000;
    font-size: 16px;
    background: silver;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
ul, li {
    display: block;
}
.container{
    width: 1920px;
    margin: 0 auto ;
 }

.box {
    width: 100px;
    height: 100px;
    background: red;
    margin-top: 30px:
}
.logo {
    background: url('../images/logo.png') no-repeat;
}

.mainmenu {
    width: 200px;
    height: 200px;
    background: green;
    margin-left: 5%;
    padding: 10px;

    display: inline

}
