body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 16px;
    background: #f5f5f5;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
ul, li {
    display: block;
}
.container{
    width: 1920px;

 }

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none; /* Убираем подчеркивание */
    color: #e24486; /* Цвет ссылки при наведении на нее курсора мыши */


   }

.logo {
    margin-right: 69px;

}

.mainmenu {
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-family: 'anton';
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-right: 20px;
    color: black;

}

.nav {
    display:flex;
    align-items: center;
}

.list-pages {
    display:grid;
}

.header {
    margin-bottom: 10px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px 0px;
}
.botton {
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #fff;
    width: 238px;
}
.goods {
    width: 1920px;
    display:flex;
}

.leftbar {
    display: flex;
    margin-left: 10px;
    width: 400px;
    display: block;
    flex-basis: 280px;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 280px;
    font-size: 16px;
    font-family: 'anton';
    font-weight: 500;
    letter-spacing: 0.1em;
    color:black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px 0px;
    border-radius: 10px;
}

.content-text {
    width: 1240px;
    display: flex;
}

.list-cat {
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px 0px;
    border-radius: 10px;
    text-align: center;


}
.name-cat {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
    padding-left: 50px;
}

.footer {
    margin: 50px;
}

.list-articles {
    padding-top: 0px;
    margin: 0px;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;



}

.article-panel {
    grid-gap: 12px 0;
    display: grid;
    height: 200px;
    grid-template-columns: auto minmax(0,1fr) 180px;
    grid-template-rows: 1fr 32px 20px;
    padding: 24px 16px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px 0px;
    background: white;
}

.catalog-product_image {
    grid-column: 1;
    grid-row: 1/4;
    height: 176px;
    margin-right: 12px;
    width: 160px;

}

.catalog-product_description {
    grid-column: 2;
    grid-row: 1;
    max-height: 100px;
    padding-bottom: -30px;

}
.catalog-product_cart {
    display: grid;
    grid-column: 3;
    grid-row: 1/3;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    justify-self: right;
    padding-left: 12px;
}

.catalog-product_avails {
    display: flex;
    font-size: 14px;
    grid-column: 2/4;
    grid-row: 3;
    line-height: 20px;
}

.page-num {
    width: 20px;
    height: 20px;
    background: #83A7C9;
    border-radius: 50%;
}

.product-pagination {
    display:block;
}