body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 16px;
    background: grey;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
ul, li {
    display: block;
}
.container{
    width: 1920px;

 }

.box {
    width: 100px;
    height: 100px;
    background: red;
    margin-top: 30px:
}
.logo {
    margin-right: 69px;


}

.mainmenu {
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-family: 'anton';
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-right: 20px;
    color:#fff;

}

.nav {
    display:flex;
    align-items: center;
}

.header {
    padding: 5px;
}
.botton {
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #fff;
    width: 238px;
}
.goods {
    width: 1920px;
    display:flex;
}

.leftbar {
    display: flex;
    margin-left: 10px;
    width: 400px;
    display: block;
    flex-basis: 280px;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 280px;
    font-size: 16px;
    font-family: 'anton';
    font-weight: 500;
    letter-spacing: 0.1em;
    color:#fff;
}

.content-text {
    width: 800px;
    display: flex;
}

.list-cat {
    border: 1px solid green;
    margin-top: 10px;

}
.name-cat {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}

.footer {
    margin-top: 1240px;
}

.list-articles {
    display:block;
}

.article-panel {
    height: 400px;
    weight: 400px;
    margin: 20px;
    border: 1px solid red;
}

.img-list {
     width:200px;
     height:200%;
}

.detailcat {

}
