{% load static %}
{% load onlineshop_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ name }}</title>
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap" rel="stylesheet">
    <link type="text/css" href="{% static 'onlineshop/css/styles.css' %}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% block mainmenu %}
<header id="header" class="header">
		<div class="container">
			<div class="nav">
				<ul class="menu">
					<img src="static/onlineshop/images/logo.png" class="logo">
						<li class="mainmenu"><a href="{% url 'blog:post_list' %}">Блог</a></li>
					{% for m in menu %}
						<li class="mainmenu"><a href="{% url m.url_name %}">{{m.title}}</a></li>
					{% endfor %}

					{% if request.user.is_authenticated %}
					<li class="mainmenu"> Добрый день, {{user.username|capfirst}} | <a href="{% url 'logout' %}"> Выйти</a></li>
					{% else %}
					<li class="mainmenu"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти </a></li>
					{% endif %}

			</div>
		</div>

	<div class="cart">
		{% with total_items=cart|length %}
		{% if cart|length > 0 %}
		В корзине:
		<a href="{% url 'cart:cart_detail' %}">
			{{ total_items }} шт , {{ cart.get_total_price }}
		</a>
		{% else %}

		{% endif %}
		{% endwith %}
		</div>
	</div>
</header>
{% endblock mainmenu %}


<!-- Блок контента -->
<section id="goods" class="goods">
	<div class="leftbar">

		{% if cat_selected == 0 %}
			<li class="name-cat">Все категории</li>
		{% else %}
			<li class="name-cat"><a href="{% url 'home' %}">Все категории</a></li>
		{% endif %}

		{% for c in cats %}
		{% if c.pk == cat_selected %}
			<li class="list-cat">{{c.name}}</li>
		{% else %}
			<li class="list-cat"><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
		{% endif %}
		{% endfor %}


	</div>


	<div class="content-text">
		{% block content %}
		{% endblock %}
	</div>

	<div class="product-pagination"></div>
		{% if page_obj.has_other_pages %}
		<nav class="list-pages">
			<ul>
		{% if page_obj.has_previous %}
		<li class="page-num">
			<a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
		</li>
		{% endif %}

				{% for p in paginator.page_range %}
				{% if page_obj.number == p %}
				<li class="page-num page-num-selected">{{ p }}</li>
				{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
				<li class="page-num">
					<a href="?page={{ p }}">{{ p }}</a>
				</li>
				{% endif %}
				{% endfor %}
		{% if page_obj.has_next %}
		<li class="page-num">
			<a href="?page={{ page_obj.next_page_number }}">&gt;</a>
		</li>
		{% endif %}
			</ul>
		</nav>
		{% endif %}
	</div>
</section>
<!-- Конец блока контента -->



<!-- Footer -->
<footer id="footer" class="footer">
	<div class="container">
		<p>&copy; 2022 сайт создан в учебных целях Мочалиным А.В.</p>
	</div>
	<li class="share">
			<p>Мой вк</p>
			<a class="share-yt" href="https://vk.com/mrrayder" target="_blank" rel="nofollow"></a>
			</li>
</footer>
<!-- Конец footer'а и страницы -->
</body>
</html>
