{% extends 'onlineshop/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for p in posts %}
	<li><div class="article-panel">

		<div class="catalog-product_image">
			{% if p.image %}
			<p><img class="catalog-product_image" src="{{p.image.url}}"></p>
		</div>

		<div class="catalog-product_description">
			<a class="catalog-product_description" href="{{ p.get_absolute_url }}">{{p.firm}} {{p.name}}</a>
			<p class="catalog-product_description">Категория: {{p.cat}}</p>
			{% autoescape on %}
			{{p.description|linebreaks|truncatewords:35}}
			{% endautoescape %}

		</div>
		<div class="catalog-product_cart">
			<p class="detailcat">Цена: {{p.price}} р.</p>

		</div>

		<div class="catalog-product_avails">
			<p class="detailcat">В наличии: {{ p.stock }} шт.
		</div>



		{% endif %}


	</li>
			{% endfor %}
	</div>
</ul>
{% endblock %}
